<h1>Hola, soy una prueba</h1>

<div class="flex-row">
    <div class="cuadro-punteado">
        <div class="cuadro-grisaseo">
            <div class="flex-row-tres">
                <div class="flex-col tamano-uno">
                    <div class="flex-row-dos">
                        <div class="space-icon">
                            <span class="material-symbols-outlined">calendar_month</span>
                        </div>
                        <div class="space-input">
                            <input type="text" id="start" placeholder="Start time" class="input-start">
                        </div>
                    </div>
                    <div class="flex-row-dos">
                        <div class="space-icon">
                            <span class="material-symbols-outlined">location_city</span>
                        </div>
                        <div class="space-input">
                            <input type="text" id="location" placeholder="Location" class="input-start">
                        </div>
                    </div>
                    <div class="flex-row-dos">
                        <div class="space-icon">
                            <span class="material-symbols-outlined">keyboard</span>
                        </div>
                        <div class="space-input">
                            <input type="text" id="title" placeholder="Title" class="input-start">
                        </div>
                    </div>
                    <div class="flex-row-dos">
                        <div class="space-icon">
                            <span class="material-symbols-outlined">keyboard</span>
                        </div>
                        <div class="space-input">
                            <textarea id="description" placeholder="Description" rows="4"></textarea>
                        </div>
                    </div>
                </div>
                <div class="flex-col">
                    <div class="dropdown">
                        <button class="dropbtn">+</button>
                        <div class="dropdown-content">
                            <a href="#">Add above</a>
                            <a href="#">Add below</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

